schema/pdtb.dtd

<!ATTLIST s id ID #REQUIRED>
<!ATTLIST t id ID #REQUIRED>
<!ATTLIST nt id ID #REQUIRED>
<!ATTLIST tree id ID #REQUIRED>
<!ATTLIST b id ID #REQUIRED>
<!ATTLIST Relation id ID #REQUIRED>
<!ATTLIST edge idref IDREF #REQUIRED>
<!ATTLIST secedge idref IDREF #REQUIRED>
<!ATTLIST tr idref IDREF #REQUIRED>
